@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import "tailwindcss";




:root {
  --primary-color: #5E2BFF;  
  --secondary-color: #9381FF;
  --background: #ffffff;
  --foreground: #2D2D2D;
  --text-default: #2D2D2D;    
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif; /* Corrected font-family */
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--foreground)
}
